<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <title>{{ SITENAME }}</title>
  <meta charset="utf-8" />
  <style>
    html { font-size: 20px; }
    body { padding: 2em; margin: auto; max-width: 70ch; min-width: 20ch; line-height: 1.3; }
  </style>
</head>

<body>
  <nav>
    home /
  </nav>

  <h1>{{ SITENAME }}</h1>

  <p>Semi-random mussings from a former-backend-dev-doing-deployment-sutff lunatic.</p>

  <ol>
{% for article in articles_page.object_list %}
    <li><time>{{ article.locale_date }}</time>: <a href="{{ article.url }}">{{ article.title }}</a></li>
{% endfor %}
  </ol>
</body>
</html>
